#spinner {
    position: relative;
    top: 14rem;
    left: 30rem;
}

.max-card-width {
    max-width: 750px;
}

.view {
    font-size: 12px;
}

@media only screen and (max-width:540px) {

    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        margin-right: 1rem;
    }

    #category-container {
        display: grid;
    }


    #card-bottom {
        margin-left: 15%;
    }

    #author-div {
        margin-left: 25%;
    }

    #author-div img {
        margin-left: 20px;
    }

    #views {
        margin-bottom: 10%;
        margin-left: 15%;
    }
}